/*
*
* ==========================================
* UTILS
* ==========================================
*
*/

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #1db689, #73BB57) !important;
    border-radius: 30rem;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::selection {
  background: $brand-primary;
  color: #fff
}
::-moz-selection {
  background: $brand-primary;
  color: #fff
}

.text-small {
    font-size: 0.85rem !important;
}

.page-content {
    min-height: 100vh;
    width: calc(100% - 80px);
    margin-left: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
        width: calc(100% - 60px);
        margin-left: 60px;
    }

    @include media-breakpoint-down(xs) {
        width: 100%;
        margin-left: 0;
    }
}

.reset-anchor {
    color: inherit;
    transition: all 0.3s;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.serif-font-family {
    font-family: 'Abril Fatface', serif !important;
    font-weight: 400 !important;
}

.base-font-family {
    font-family: $font-family-sans-serif !important;
    font-weight: $font-weight-light !important;
}

.text-xl {
    @include media-breakpoint-up(lg) {
        font-size: 4rem !important;
        line-height: 1 !important;
    }
    @include media-breakpoint-up(xl) {
        font-size: 5rem !important;
        line-height: 1 !important;
    }
}

// 73BB57

.bg-gradient {
    background: linear-gradient(to right, #1db689, #1db689) !important;
    border: none !important;
}

%bg-gradient {
    background: linear-gradient(to right, #1db689, #1db689) !important;
}
%shadow {
    box-shadow: 0 2px 3px rgba(29, 182, 137, 0.2) !important;
}
%text-shadow {
    text-shadow: 0 2px 3px rgba(29, 182, 137, 0.2) !important;
}
.text-gradient {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #1db689, #1db689) !important;
    color: #fff;
}

body {
    overflow-x: hidden;
}

.line-height-sm {
    line-height: 1 !important;
}
.line-height-md {
    line-height: 1.5 !important;
}

.line-height-lg {
    line-height: 1.8 !important;
}

.lined {
    position: relative;
    padding-bottom: 8px;
    &::after {
        content: '';
        display: block;
        width: 8rem;
        height: 3px;
        @extend %bg-gradient;
        @extend %shadow;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &-center {
        &::after {
            left: calc(50% - 4rem);
        }
    }
}

.text-gray {
    color: #aaa !important;
}

hr {
    border: none !important;
    box-shadow: none !important;
    height: 3px;
    background: #f0f0f0;
    border-radius: 3rem;
    opacity: 0;
}


.lead-2x {
    font-size:  ($font-size-base * 1.4) !important;
}

.error-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-heading {
    font-size: 10rem;
    font-family: 'Abril Fatface', serif;
    font-weight: 400;

    @include media-breakpoint-down(md) {
        font-size: 6rem;
    }
}

.face {
    font-size: 5rem;
    text-shadow: 0 4px 2px rgba(29, 182, 137, 0.2) !important;
}

.quote {
    position: relative;

    &::before {
        content: '\f10e';
        position: absolute;
        top: 0;
        right: 1rem;
        transform: translateY(-50%);
        display: block;
        font-size: 3rem;
        text-shadow: 0 4px 2px rgba(29, 182, 137, 0.2) !important;
        color: $brand-primary;
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
    }
}

.dropdown-toggle {
    &::after {
        border: none;
        content: '\f078';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        font-size: 0.65rem;
        vertical-align: middle;
        padding-left: 0.1rem;
    }
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.navSlideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}



/*
*
* ==========================================
* HOMEPAGE
* ==========================================
*
*/
.hero-header {
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;
    h2 {
        position: relative;
        z-index: 99;
    }

    span.hero-header-bg {
        display: block;
        width: 100rem;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10rem;
        opacity: 0.02;
        z-index: -1;
        font-family: 'Abril Fatface', serif;
        user-select: none;
        cursor: default;
        background: #fff;

        @include media-breakpoint-down(md) {
            font-size: 8rem;
        }
    }
}

.hp {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: -5rem;
        right: -5rem;
        background: url(../img/pattern.svg) no-repeat;
        opacity: 0.2;
    }

    &::after {
        content: '';
        display: block;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 10px solid #333;
        position: absolute;
        top: 60%;
        right: -3rem;
        opacity: 0.05;
    }
}

.map {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background: url(../img/world-map.png) no-repeat;
    background-size: 100%;
    opacity: 0.025;
    transform: translate(-50%, -50%);
    background-position: center center;
    z-index: -1;
}


.title {
    position: relative;

    span {
        display: block;
        padding: 0.2rem 1rem;
        background: $brand-primary;
        @extend %bg-gradient;
        color: #fff;
        position: absolute;
        top: -2.5rem;
        left: 0;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        font-size: 0.85rem;

        &::after {
            content: '';
            display: block;
            border-top: 1rem solid darken(#1db689, 10%);
            border-left: 0.7rem solid transparent;
            position: absolute;
            left: 0;
            bottom: -1rem;
        }
    }
}



.shadow-cu {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
    &::after {
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 5px;
        left: 10%;
        right: 10%;
        top: 60%;
        background: rgba(138, 178, 203, 1);
        box-shadow: 0 0 25px 17px rgba(138, 178, 203, 0.2);
        border-radius: 100px/10px;
    }
}



/*
*
* ==========================================
* ABOUT PAGE
* ==========================================
*
*/
.date {
    padding: 0.2rem 1rem;
    background: $brand-primary;
    @extend %bg-gradient;
    color: #fff;
    position: absolute;
    top: -2.5rem;
    left: 0;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-size: 0.85rem;

    &::after {
        content: '';
        display: block;
        border-top: 1rem solid darken(#1db689, 10%);
        border-left: 0.7rem solid transparent;
        position: absolute;
        left: 0;
        bottom: -1rem;
    }

    &-right {
        left: auto;
        right: 0;
        &::after {
            left: auto;
            right: 0;
            border-left: none;
            border-right: 0.7rem solid transparent;;
        }
    }
}

.timeline-item {
    position: relative;
}




/*
*
* ==========================================
* PORTFOLIO
* ==========================================
*
*/
.shot {
    overflow: hidden;
    border-radius: 1rem;
    border: 5px solid #0c0b0d;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 6rem;
        height: 1.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        background: #0c0b0d;
        position: absolute;
        top: -2px;
        left: calc(50% - 3rem);
    }

    &::after {
        content: '';
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #aaa;
        position: absolute;
        top: 0.6rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.index-forward {
    position: relative;
    z-index: 99;
}




/*
*
* ==========================================
* CONTACT
* ==========================================
*
*/
.form-holder {
    box-shadow: 0 0.2rem 0.7rem rgba(0,0,0,0.1);
    position: relative;
    border-top: 3px solid $brand-primary;


    &-icon {
        width: 3rem;
        height: 3rem;
        color: #fff;
        background: #73BB57;
        position: absolute;
        top: 0;
        right: 1rem;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        // &::after {
        //     content: '';
        //     display: block;
        //     border-bottom: 1.5rem solid darken(#73BB57, 10%);
        //     border-left: 0.7rem solid transparent;
        //     position: absolute;
        //     top: 0;
        //     left: -0.7rem;
        // }
    }
}

.social-link {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: $border-radius;
    border: 2px solid rgba($brand-primary, 0.2);
    // color: $brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $brand-primary;
    color: #fff;
    @extend %shadow;

    &:hover, &:focus {
        background: darken($brand-primary, 5%);
        color: #fff;
    }
}



/*
*
* ==========================================
* SERVICES
* ==========================================
*
*/
.step {
    padding: 2rem;
    transition: all 0.3s;
    background: $light;
    // @extend %shadow;

    &-number {
        font-size: 3rem;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        color: $brand-primary;
        @extend %text-shadow;
    }

    &:hover {
        background: $light;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        transform: translateY(-2px);
    }
}


.nav-tabs {
    background: $brand-primary;
    border-radius: 0.4rem;
    padding: 4px;
    @extend %shadow;
    border: none !important;

    .nav-item {
        margin: 0 !important;
    }

    .nav-link {
        color: #fff;
        border: none !important;
        border-radius: $border-radius;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        font-size: 0.85rem !important;

        &.active {
            color: $brand-primary !important;
        }
    }
}
