.form-group {
    position: relative;

    small {
        padding: 0.3rem 1rem;
        color: #fff !important;
        display: block;
        margin-top: 0.3rem;
        border-radius: $border-radius;
    }
}

.form-control {
    & + i {
        position: absolute;
        top: 2.95rem;
        right: 2rem;
    }
}

.bootstrap-select {
    i {
        position: absolute;
        top: 0.95rem;
        right: 1rem;
    }
}


.has-success {
    .form-control {
        border-color: lighten($brand-primary, 0.8) !important;
        box-shadow: inset 0 0 0 0.5px lighten($brand-primary, 0.8) !important;

        & + i {
            color: $brand-primary;
        }
    }
    small {
        background: $brand-primary;
    }

    .bootstrap-select i {
        color: $brand-primary;
    }
}

.has-error {
    .form-control {
        border-color: lighten($danger, 0.8) !important;
        box-shadow: inset 0 0 0 0.5px lighten($danger, 0.8) !important;
        // @extend %shadow;

        & + i {
            color: $danger;
        }
    }
    small {
        background: $danger;
    }

    .bootstrap-select i {
        color: $danger;
    }
}
