mixin sidebarLink(link, name)
    // Link
    a.sidebar-link.transition-link(
        href=link
        class={active: name === current}
    ) #{name}
    
mixin navLink(link, name)
    // Link
    a.nav-link.transition-link(
        href=link
        class={active: name === current}
    ) #{name}
    
