// JavaScript files

script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='vendor/owl.carousel2/owl.carousel.min.js')
script(src='vendor/bootstrap-select/js/bootstrap-select.min.js')
script(src='vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js')
script(src='js/page-transition.js')
script(src='js/front.js')

// FontAwesome CSS - loading as last, so it doesn't block rendering
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.1/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
