.sidebar.p-3
    .sidebar-inner.flex-column.d-flex.align-items-center.justify-content-between.h-100
        a.sidebar-toggler(href="#")
            span
            span
            span
        
        a.h6.text-small.reset-anchor.text-small.font-weight-bold.sidebar-rounded-link(href="#") Ask for a freebie
        
        ul.list-unstyled.mb-0
            li.mb-0
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-facebook-f.fa-fw.small
            li.mb-0
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-twitter.fa-fw.small
            li.mb-0
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-behance.fa-fw.small
            li.mb-0
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-linkedin.fa-fw.small
            li
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-codepen.fa-fw.small
