.sidebar
    .sidebar-inner.flex-column.d-flex.align-items-center.justify-content-between.h-100.py-4.py-lg-0.px-3
        a.navbar-brand.m-0.d-none.d-lg-block.pt-4(href='./')
            img(src="img/logo.svg", alt="Mohamed Hasan", width="35")
        
        a.sidebar-toggler.d-block.d-lg-none.pt-2(href="#")
            span
            span
            span
                
        a.h6.text-small.reset-anchor.text-small.font-weight-bold.sidebar-rounded-link(href="#") 
            i.far.fa-clipboard.mr-2 
            | Download Resume
        
        ul.list-unstyled.mb-5.mb-lg-4
            li.mb-0
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-facebook-f.fa-fw.small
            li.mb-0
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-twitter.fa-fw.small
            li.mb-0
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-behance.fa-fw.small
            li.mb-0
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-linkedin.fa-fw.small
            li
                a.reset-anchor(href="#", target="_blank")
                    i.fab.fa-codepen.fa-fw.small
    
    .sidebar-menu-holder
        ul.sidebar-menu
            li.sidebar-item.py-2
                +sidebarLink('./', 'Home')
            li.sidebar-item.py-2
                +sidebarLink('about.html', 'About')
            li.sidebar-item.py-2
                +sidebarLink('portfolio.html', 'Portfolio')
            li.sidebar-item.py-2
                +sidebarLink('contact.html', 'Contact')
            li.sidebar-item.py-2
                a.btn.btn-primary.transition-link(href="hireme.html")
                    i.fas.fa-magic.mr-2
                    | Hire Me
            li.sidebar-item.py-3
                ul.list-inline
                    li.mb-0.list-inline-item
                        a.reset-anchor(href="#", target="_blank")
                            i.fab.fa-facebook-f.fa-fw.small
                    li.mb-0.list-inline-item
                        a.reset-anchor(href="#", target="_blank")
                            i.fab.fa-twitter.fa-fw.small
                    li.mb-0.list-inline-item
                        a.reset-anchor(href="#", target="_blank")
                            i.fab.fa-behance.fa-fw.small
                    li.mb-0.list-inline-item
                        a.reset-anchor(href="#", target="_blank")
                            i.fab.fa-linkedin.fa-fw.small
                    li.list-inline-item
                        a.reset-anchor(href="#", target="_blank")
                            i.fab.fa-codepen.fa-fw.small
        
