extends _pug-includes/layout

block vars 
    - var current = 'About'

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-2.px-lg-5.pb-4.pt-2.overflow-hidden.d-block
            include _pug-includes/navbar.pug
            
            section.pb-5.pt-lg-5
                .container-fluid
                    .row.pb-4.text-center.pt-4
                        .col-lg-8.mx-auto
                            h1.serif-font-family.lined.lined-center.mb-4 Professional summary
                            p.h5.base-font-family.line-height-md.mb-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                            
                            p.lead.text-muted.mb-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            
                            a.btn.btn-primary(href="#") Download resume

                    .row.text-center
                        .col-lg-10.mx-auto
                            .py-5.px-4.px-lg-5.bg-light.my-5.quote
                                p.lead-2x.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            
                    .row.pt-4
                        .col-xl-10.mx-auto
                            .row
                                .col-xl-6.mx-auto.pr-lg-5
                                    .pb-5
                                        h2.serif-font-family.lined.mb-4.mb-5 Work experience
                                    .mb-5.pb-4.bg-white.timeline-item
                                        span.date
                                            i.fas.fa-calendar-minus.mr-2
                                            span 2018 - Current
                                        h5.mb-0 Bootstrap expert
                                        p.text-small.text-uppercase.text-gray.mb-1 Freelancer
                                        p.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                    .mb-5.pb-4.bg-white.timeline-item
                                        span.date
                                            i.fas.fa-calendar-minus.mr-2
                                            span 2015 - 2018
                                        h5.mb-0 Front End Web Developer
                                        p.text-small.text-uppercase.text-gray.mb-1 Freelancer
                                        p.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                    .mb-5.pb-4.bg-white.timeline-item
                                        span.date
                                            i.fas.fa-calendar-minus.mr-2
                                            span 2013 - 2015
                                        h5.mb-0 UI/UX Web designer
                                        p.text-small.text-uppercase.text-gray.mb-1 Freelancer
                                        p.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        
                                .col-xl-6.mx-auto.pr-lg-5
                                    .pb-5
                                        h2.serif-font-family.lined.mb-4.mb-5 Education
                                    .mb-5.pb-4.bg-white.timeline-item
                                        span.date
                                            i.fas.fa-calendar-minus.mr-2
                                            span 2018 - Current
                                        h5.mb-0 Bootstrap expert
                                        p.text-small.text-uppercase.text-gray.mb-1 Freelancer
                                        p.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                    .mb-5.pb-4.bg-white.timeline-item
                                        span.date
                                            i.fas.fa-calendar-minus.mr-2
                                            span 2015 - 2018
                                        h5.mb-0 Front End Web Developer
                                        p.text-small.text-uppercase.text-gray.mb-1 Freelancer
                                        p.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                    .mb-5.pb-4.bg-white.timeline-item
                                        span.date
                                            i.fas.fa-calendar-minus.mr-2
                                            span 2013 - 2015
                                        h5.mb-0 UI/UX Web designer
                                        p.text-small.text-uppercase.text-gray.mb-1 Freelancer
                                        p.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
