extends _pug-includes/layout

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-4.px-lg-5.pb-4.pt-2.overflow-hidden.d-block
            include _pug-includes/navbar.pug
            
            section.py-5
                .container-fluid
                    h1.serif-font-family About Me
