extends _pug-includes/layout

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-4.px-lg-5.pb-4.pt-2.overflow-hidden.d-block
            include _pug-includes/navbar.pug
            
            section.py-5
                .container-fluid
                    .row
                        .col-lg-7
                            h1.serif-font-family About Me
                            p.lead.text-muted Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
