extends _pug-includes/layout

block vars 
    - var current = 'Contact'

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-2.px-lg-5.pb-4.pt-2.overflow-hidden.d-block
            include _pug-includes/navbar.pug
            
            section.pb-5.pt-lg-5
                .container-fluid
                    .row.pt-4
                        .col-lg-7.mx-auto.text-center
                            h1.serif-font-family.lined.lined-center.mb-4 Hire me
                            p.lead.text-muted.mb-5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                
                    .row.pb-4
                        .col-lg-9.mx-auto
                            .form-holder.p-4.p-lg-5.mb-5.shadow.bg-white.rounded
                                .form-holder-icon.bg-primary
                                    i.fas.fa-magic
                                form.contact-form(data-netlify="true", method="POST", action="/thanks", name="hire-form")
                                    .row
                                        .form-group.col-lg-6
                                            label.required First Name
                                            input.form-control.form-control-lg(type='text', name='firstname', placeholder="Enter your first name")
                                        .form-group.col-lg-6
                                            label.required Last Name
                                            input.form-control.form-control-lg(type='text', name='lastname', placeholder="Enter your last name")
                                        .form-group.col-lg-12
                                            label.required Email Address
                                            input.form-control.form-control-lg(type='email', name='email', placeholder="Enter your email address")
                                        .form-group.col-lg-6
                                            label.required Start Date
                                            input.form-control.form-control-lg.datepicker-1(type="text", id="start-date", name="start-date", placeholder="Pick your desired date", autocomplete="off")    
                                        .form-group.col-lg-6
                                            label.required End Date
                                            input.form-control.form-control-lg.datepicker-2(type="text", id="end-date", name="end-date", placeholder="Pick your desired date", autocomplete="off")  
                                        .form-group.col-lg-6
                                            label.required Job Type
                                            select.selectpicker(name="job-type", data-style="bs-select-form-control", data-title="Select job type")
                                                option(value="design-template") Design a template
                                                option(value="psd-to-bootstrap") PSD to Bootstrap
                                                option(value="bootstrapize-template") Bootstrapize a template
                                        .form-group.col-lg-6
                                            label.required Estimated Budget
                                            input.form-control.form-control-lg(type='number', name='budget', placeholder="Your estimated budget by $")
                                            span.form-text.text-gray The estimated down payment will be 
                                                span.text-dark.font-weight-bold.font-family-heading $
                                                span.down-payment.text-dark.font-weight-bold.font-family-heading 0
                                        .form-group.col-lg-12
                                            label.required Job Description
                                            textarea.form-control.form-control-lg.py-3(name='message', rows="6", placeholder="Enter your message")
                                        .form-group.col-lg-12.mb-0
                                            button.btn.btn-primary.py-2.btn-block(type="submit")
                                                span.py-1.d-block Submit your request
                                            
                        
