extends _pug-includes/layout

block content
    
    include _pug-includes/sidebar.pug
    .page-content.hp.px-4.px-lg-5.pb-4.pt-2.overflow-hidden
        include _pug-includes/navbar.pug
        
        .owl-carousel.hero-carousel
            header.hero-header.text-center.w-100
                h2.mb-0.serif-font-family.text-xl I create websites
                    span.hero-header-bg Designer
                p.lead.text-muted lorem ipsum dolor sit amt
                
            header.hero-header.text-center.w-100
                h2.mb-0.serif-font-family.text-xl Make them work
                    span.hero-header-bg Developer
                p.lead.text-muted lorem ipsum dolor sit amt
                
            header.hero-header.text-center.w-100
                h2.mb-0.serif-font-family.text-xl Bootstrapize them
                    span.hero-header-bg Bootstraper
                p.lead.text-muted lorem ipsum dolor sit amt
            
                    
        
        footer.w-100
            .row.align-items-end
                .col-lg-7.mb-5.mb-lg-0
                    .title
                        span.ribbon Hi, I'm
                        h1.h4.mb-0.text-uppercase.letter-spacing-0 Mohamed Hasan
                        p.lead.text-muted.mb-0 Fron End Web Developer
                .col-lg-5.text-lg-right
                    p.h6.small.font-weight-bold.mb-0 &copy; 2020 MohamedHasan.tech
            
                    
