extends _pug-includes/layout

block vars
    - var home = true;
    - var current = 'Home';
    - var customClass = 'alert-home';

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-2.px-lg-5.pb-4.pt-2.overflow-hidden#particles-js
            include _pug-includes/navbar.pug
            .row.w-100
                .col-lg-8.mx-auto
                    .owl-carousel.hero-carousel.owl-theme
                        header.hero-header.text-center.w-100
                            h2.mb-3.serif-font-family.text-xl I design websites
                                span.hero-header-bg Designer
                            .index-forward
                                p.lead.text-muted Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                a.btn.btn-primary.transition-link(href="design.html") Request this service
                            
                        header.hero-header.text-center.w-100
                            h2.mb-3.serif-font-family.text-xl Make them work
                                span.hero-header-bg Developer
                            .index-forward
                                p.lead.text-muted Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                a.btn.btn-primary.transition-link(href="create.html") Request this service
                            
                        header.hero-header.text-center.w-100
                            h2.mb-3.serif-font-family.text-xl Bootstrapize them
                                span.hero-header-bg Bootstraper
                            .index-forward
                                p.lead.text-muted Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                a.btn.btn-primary.transition-link(href="bootstrapize.html") Request this service
                
                        
            
            footer.w-100.px-3.px-lg-0
                .row.align-items-end
                    .col-lg-7.mb-5.mb-lg-0.text-center.text-lg-left
                        .title.d-inline-block.text-left.mb-0
                            p.text-right.mb-0
                                small.text-uppercase.font-weight-bold.letter-spacing-0.text-right.badge.badge-primary Bootstrap Expert
                            h1.h3.mb-0.text-uppercase.letter-spacing-0 Mohamed Hasan
                            p.lead.text-muted.text-uppercase.mb-0.text-center.text-lg-left Front End Web Developer
                    .col-lg-5.text-lg-right.text-center
                        p.small.text-uppercase.mb-0 &copy; 2021 MohamedHasan.site
