extends _pug-includes/layout

block content
    
    .page-content.d-flex.align-items-center
        .container.py-5
            .row.text-center
                .col-lg-10.mx-auto
                    img.img-fluid.mb-4.p-4(src="img/illustration-1.svg", alt="illustration", width="450")
                    .d-inline-block.mb-4
                        #getting-started.countdown.d-flex
                    h1.h2.text-uppercase Under construction
                    p.lead.mb-5.text-muted We're using typefaces of Google Fonts which are free for commercial use.
                    
                    
