extends _pug-includes/layout

block content
    
    .page-content.d-flex.align-items-center
        .container.py-5
            .row.text-center
                .col-lg-10.mx-auto
                    img.img-fluid.mb-4(src="img/illustration-1.svg", alt="illustration", width="350")
                    h1.h2 My website is under construction
                    p.lead.mb-5 We're using typefaces of Google Fonts which are free for commercial use.
                    
                    .d-inline-block
                        #getting-started.countdown.d-flex
