extends _pug-includes/layout

block vars
    - var current = 'Home';

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-2.px-lg-5.pb-4.pt-2.overflow-hidden
            .map
            include _pug-includes/navbar.pug
            
            .row.w-100
                .col-lg-8.mx-auto
                    .owl-carousel.hero-carousel.owl-theme
                        header.hero-header.text-center.w-100
                            h2.mb-3.serif-font-family.text-xl I design websites
                                span.hero-header-bg Designer
                            .index-forward
                                p.lead.text-muted Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                a.btn.btn-primary.transition-link(href="design.html") Request this service
                            
                        header.hero-header.text-center.w-100
                            h2.mb-3.serif-font-family.text-xl Make them work
                                span.hero-header-bg Developer
                            .index-forward
                                p.lead.text-muted Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                a.btn.btn-primary.transition-link(href="create.html") Request this service
                            
                        header.hero-header.text-center.w-100
                            h2.mb-3.serif-font-family.text-xl Bootstrapize them
                                span.hero-header-bg Bootstraper
                            .index-forward
                                p.lead.text-muted Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                a.btn.btn-primary.transition-link(href="bootstrapize.html") Request this service
                
                        
            
            footer.w-100.px-3.px-lg-0
                .row.align-items-end
                    .col-lg-7.mb-5.mb-lg-0
                        .title
                            span.ribbon Bootstrap Expert
                            h1.h4.mb-0.text-uppercase.letter-spacing-0 Mohamed Hasan
                            p.lead.text-muted.mb-0 Fron End Web Developer
                    .col-lg-5.text-lg-right
                        p.small.font-weight-bold.mb-0 &copy; 2020 MohamedHasan.tech
