extends _pug-includes/layout

block vars 
    - var current = 'Portfolio'

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-4.px-lg-5.pb-4.pt-2.overflow-hidden.d-block
            include _pug-includes/navbar.pug
            
            section.pb-5.pt-lg-5
                .container-fluid
                    .row.pb-4.pt-4.text-center
                        .col-lg-8.mx-auto
                            h2.serif-font-family.lined.lined-center.mb-4 Recent HTML5 templates
                            p.lead.text-muted.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                
                            .owl-carousel.owl-theme.portfolio-carousel
                                - var htmlItems = [] 
                                
                                //- Item
                                - htmlItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'temp-shot-1.png', 'url': '#', 'themeforest': true})
                                //- Item
                                - htmlItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'temp-shot-1.png', 'url': '#'})
                                //- Item
                                - htmlItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'temp-shot-1.png', 'url': '#'})
                                //- Item
                                - htmlItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'temp-shot-1.png', 'url': '#'})
                                //- Item
                                - htmlItems.push({'title': 'Italiano Restaurant', 'description': 'Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.', 'image': 'temp-shot-1.png', 'url': '#'})

                                //- Item
                                //- - htmlItems.push({'title': '', 'description': '', 'image': '', 'url': ''})
                                
                                each val in htmlItems
                                    .row.text-left.pt-5.align-items-center.mb-2
                                        
                                        .col-lg-6.text-center.text-lg-right.index-forward.order-2.order-lg-1
                                            h2.h4 #{val.title}
                                            p.text-muted #{val.description}
                                            if (val.themeforest == true)
                                                a.btn.btn-outline-primary.m-1(href=val.url, target="_blank") Buy on Themeforest
                                            a.btn.btn-primary.m-1(href=val.url, target="_blank") Live preview
                                            
                                            
                                        .col-lg-6.order-1.order-lg-2
                                            .shot.mb-4.mb-lg-0
                                                img.img-fluid(src="img/" + val.image, alt="...")
                                    
