extends _pug-includes/layout

block vars 
    - var current = 'Portfolio'

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-4.px-lg-5.pb-4.pt-2.overflow-hidden.d-block
            include _pug-includes/navbar.pug
            
            section.py-5
                .container-fluid
                    .row.pb-4.text-center
                        .col-lg-8.mx-auto
                            h1.serif-font-family.lined.lined-center.mb-4 The work process
                            p.h5.base-font-family.line-height-md.mb-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                            
                            p.lead.text-muted.mb-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            
                            .owl-carousel.owl-theme.portfolio-carousel
                                .row.text-left.pt-5.align-items-center.mb-2
                                    .col-lg-6.text-right.index-forward
                                        h2.h4 Italiano Restaurant
                                        p.text-muted Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.
                                        a.btn.btn-gradient(href="#", target="_blank") Live preview
                                    .col-lg-6
                                        .shot
                                            .shot-holder
                                                img.img-fluid(src="img/temp-shot-1.png", alt="...")
                                                    
                                .row.text-left.pt-5.align-items-center.mb-2
                                    .col-lg-6.text-right.index-forward
                                        h2.h4 Italiano Restaurant
                                        p.text-muted Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.
                                        a.btn.btn-gradient(href="#", target="_blank") Live preview
                                    .col-lg-6
                                        .shot
                                            .shot-holder
                                                img.img-fluid(src="img/temp-shot-1.png", alt="...")
                                                    
                                .row.text-left.pt-5.align-items-center.mb-2
                                    .col-lg-6.text-right.index-forward
                                        h2.h4 Italiano Restaurant
                                        p.text-muted Spicy is a modern clean HTML template for Cafe & Restaurant and any food-related business website. It comes with a modern and smooth design.
                                        a.btn.btn-gradient(href="#", target="_blank") Live preview
                                    .col-lg-6
                                        .shot
                                            .shot-holder
                                                img.img-fluid(src="img/temp-shot-1.png", alt="...")
                                                    
