extends _pug-includes/layout

block vars 
    - var current = '404'

block content
    .m-pagetransition
        include _pug-includes/sidebar.pug
        .page-content.hp.px-2.px-lg-5.pb-4.pt-2.overflow-hidden.d-block
            nav.navbar.navbar-expand-lg.navbar-light.px-0.py-3.w-100
                .container-fluid.px-0
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.mx-auto
                            li.nav-item.mr-lg-3
                                +navLink('./', 'Home') 
                            li.nav-item.mr-lg-3
                                +navLink('about.html', 'About') 
                            li.nav-item.mr-lg-3
                                +navLink('portfolio.html', 'Portfolio') 
                            li.nav-item
                                +navLink('contact.html', 'Contact') 
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle.pl-4#services(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Services
                                .dropdown-menu.navSlideIn.animate(aria-labelledby='services')
                                    a.dropdown-item.transition-link(href='design.html') Desgin a website
                                    a.dropdown-item.transition-link(href='create.html') Create a website
                                    a.dropdown-item.transition-link(href='bootstrapize.html') Bootstrapize a website
            
            .map
            
            header.hero-header.error-msg.text-center.w-100.p-4
                .row
                    .col-lg-6.mx-auto
                        i.fas.fa-grin-beam.face.text-primary.mb-4
                        h1.text-xl.serif-font-family Thank you
                            span.hero-header-bg Thanks
                        h5.base-font-family.line-height-md.mb-4.text-muted Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                        a.btn.btn-primary.transition-link(href="./") Return home
                
        
